extends layout
block content
    #wrapper
      #header
        .container-fluid.main-nav
          ul.nav.justify-content-center
            li.nav-item
              a.nav-link.active(href='/')
                img#mainlogo(src='static/logo.png')
        header
          .container
            #questioninput.input-group.mb-3
              input#questionvalue.form-control(type='text', placeholder='Ask a question', v-model='question')
              .input-group-append
                button#button-addon2.btn.btn-outline-secondary(type='button', @click='postq()') Ask
    .container
        img(src='static/404.png', style='padding-top: 40vh; padding-left: 25vw;')
